{{#paper-item class="payee-list-item md-2-line"}}
  <img src={{payee.image}} alt={{payee.name}} class="md-avatar payee-list-item-avatar">
  <div class="md-list-item-text payee-list-item-text ">
    <h3 class="payee-list-item-text-name">{{payee.name}}</h3>
    <p class="payee-list-item-text-website">{{payee.website}}</p>
  </div>
{{/paper-item}}