{{!-- https://miguelcobain.github.io/ember-paper/#/components/sidenav --}}
{{!-- https://github.com/Subtletree/ember-paper-link --}}

{{#paper-sidenav class="site-sidenav" name="left" open=leftSideBarOpen onToggle=(action (mut leftSideBarOpen))}}

  {{#paper-toolbar class="site-content-toolbar layout-align-center-center" tall=true}}
    {{#paper-toolbar-tools}}
      <h3>MY LEDGER</h3>
    {{/paper-toolbar-tools}}
  {{/paper-toolbar}}

  {{#paper-content padding=true}}
    {{#paper-list}}
      {{#paper-link-item 'dashboard'}}
        <p>Dashboard</p>
      {{/paper-link-item}}
      {{#paper-link-item 'ledger'}}
        <p>Ledger</p>
      {{/paper-link-item}}
      {{#paper-link-item 'budgets'}}
        <p>Budgets</p>
      {{/paper-link-item}}
      {{#paper-link-item 'categories'}}
        <p>Categories</p>
      {{/paper-link-item}}
      {{#paper-link-item 'payees'}}
        <p>Payees</p>
      {{/paper-link-item}}
      {{#paper-link-item 'reports'}}
        <p>Reports</p>
      {{/paper-link-item}}
    {{/paper-list}}
    {{paper-divider}}
    {{#paper-list class="md-sidenav-list"}}
      {{#paper-link-item 'settings'}}
        <p>Settings</p>
      {{/paper-link-item}}
    {{/paper-list}}

  {{/paper-content}}
{{/paper-sidenav}}