{{page-toolbar pageTitle="PAYEES" createRoute="payees/create"}}

{{#paper-content scroll-y=true class="layout-padding flex"}}
  <div class="doc-content">

    {{#paper-list}}

      {{#each this.model as |payee|}}
        <LinkTo @route="payees.show" @model={{payee}}>
          <h4>{{payee.name}}</h4>
        </LinkTo>
      {{/each}}

    {{/paper-list}}

  </div>
{{/paper-content}}