{{page-toolbar pageTitle="PAYEES" createRoute="payees/create"}}

{{#paper-content scroll-y=true class="layout-padding flex"}}
  <div class="doc-content">

    {{#paper-list}}

      {{#each this.model as |payee|}}
        {{payee-list-item payee=payee read=(action "readPayee") merge=(action "mergePayee") delete=(action "deletePayee")}}
      {{/each}}

    {{/paper-list}}

  </div>
{{/paper-content}}