{{#paper-sidenav-container class="site-nav-container"}}

  <Sidenav />

  <div id="main" class="flex layout-column" tabindex="-1" role="main">
    {{outlet}}
  </div>

{{/paper-sidenav-container}}

{{paper-toaster parent="#main"}}